* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-radius: 2rem;
  padding: 0.6rem;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.statusIconContainer {
  width: 2rem;
  height: 2rem;
  background-color: var(--lightgray1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid var(--lightgray0);
}

.statusText {
  font-size: 1rem;
  color: var(--black);
  margin: 0 0.6rem;
}

.musicStatusSpinner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.connButton {
  width: 8rem;
  height: 2rem;
  background-color: var(--lightgray1);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  color: var(--black);
  transition: all 0.2s;
  border: 0.2rem solid var(--lightgray0);
}
.connButton:hover {
  background-color: var(--emerald);
  border: 0.2rem solid var(--emerald0);
}
