:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --emerald0: #d9f9ee;
  --emerald: #8ae9c9;
  --emerald2: #52c597;
  --lightgray0: #f3f3f3;
  --lightgray1: #eeeeee;
  --lightgray2: #e0e0e0;
  --white: #fdfdfd;
  --gray: #8e8e8e;
  --black: #616161;
  --red0: #ffb3b3;
  --red: #FF8080;
  --red2: #FF4D4D;
  --blue: #279EFF;
  --yellow: #fff4bb;
  --lightblue: #cee3f2;
  
  --day: #b3e6ff;
  --night: #3a3a5c;
}


/* For the default cursor */
body {
  cursor: url(./assets/cursors/cursor.png), default !important;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
}

body::-webkit-scrollbar {
  width: 0;
  background-color: var(--emerald0);
}

::selection {
  background: var(--emerald);
  color: var(--white);
}

/* For pointer cursor (when hovering all hoverable elements) */
button, a, [role="button"], .clickable, slider, input[type="range"] {
  cursor: url(./assets/cursors/pointer.png), pointer !important;
}

/* Modal style */
.css-dev-only-do-not-override-ig5p6d .ant-modal .ant-modal-content {
  border-radius: 2rem;
}

/* Input */
.ant-input-outlined:hover {
  border-color: var(--emerald) !important;
}

.ant-input-outlined:focus,
.ant-input-outlined:focus-within {
  outline: none !important;
}

/* Input Label */
.css-dev-only-do-not-override-ig5p6d.ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-form-item-label,
.css-dev-only-do-not-override-ig5p6d.ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-col-24.ant-form-item-label,
.css-dev-only-do-not-override-ig5p6d.ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-col-xl-24.ant-form-item-label {
  padding: 0;
}
